.git

server_uploads/
temp_uploads/
logs/
.secret
data/

*.bat
*.vbs
*.lock
*.xml

LICENSE

*.py
!app.py
!inforun.py
!version.py
!gui.py
!main.py
!monitor.py

# emm...
*.moc
*.moc3
*.model.json
*texture*.png
live2d/
model/
models/
